   
   
 {{!-- <div class="cuentas">
   
      <a href="/login" id="salt" > 
      <div class="accounts">

            <div class="pictur"><img src="./assets/agregar.jpg" alt=""></div>
            <h4>Agregar cuenta</h4>

    </div>
    --}}

   
   
 <a href="/login" id="salto" > 
      <div class="accounts">

            <div class="picture"><img src="{{this.image}}" alt=""></div>
            <h4>{{this.nombre}}</h4>

    </div>
</a>




               <div class="close">x</div>
