<footer>

<div class="navegador">



<div class="idiomas">
Español
English (US)
Français (France)
Italiano
Deutsch
Português (Brasil)
Русский
العربية
हिन्दी
中文(简体)
日本語

<button>+</button>
</div>

<div class="resto">

<a href="https://es-la.facebook.com/reg/"> Registrarte   </a>

<a href=""> Iniciar sesión  </a>

<a href=""> Messenger  </a>

<a href=""> FacebookLite  </a>

<a href=""> Watch  </a>

<a href=""> Lugares  </a>
<a href=""> Juegos  </a>
<a href="" >Marketplace  </a>
<a href="" >Facebook Pay  </a>
<a href=""> Oculus  </a>
<a href=""> Portal  </a>
<a href=""> Instagram  </a>
<a href=""> Bulletin  </a>
<a href=""> Local  </a>
<a href=""> Recaudaciones de fondos  </a>
<a href=""> Servicios</a>
    
<a href=""> Centro de información de votación</a>
<a href=""> Grupos  </a>
<a href="" >Información  </a>
<a href=""> Crear anuncio  </a>
<a href=""> Crear página  </a>
<a href=""> Desarrolladores  </a>
<a href=""> Empleo  </a>
<a href="" >Privacidad  </a>
<a href="" >Cookies  </a>
<a href="" >Opciones de anuncios   </a>
<a href="" >Condiciones  </a>
<a href="" >Ayuda  </a>
<a href=""> Subir contactos y no usuarios  </a>


<h5 class="h5">meta &copy; 2022</h5>

</div>






</div>



</footer>