<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

</head>
<body>
    

    <div class="space">
        
        
{{#each mensajes}}

<div class="revisarCorreo"> {{this.msg}}    </div>

{{/each}}
        
         </div>


<div class="global">

<section>
<div class="left">

    <h1>facebook</h1>
    <h2>Inicios de sesión recientes</h2>
    <h3>Haz click a tu foto o agrega una cuenta</h3>

    <div class="cuentas">
   
 <a href="/login" id="salt" > 
      <div class="accounts">

            <div class="pictur"><img src="../assets/agregar.jpg" alt=""></div>
            <h4>Anadir cuenta</h4>

    </div>
</a>
     
   
   
   

        {{#each cuentas}}

{{> carrete}}

{{/each}}
    </div>

</div>

<div class="rigth">


    <form action="/login" method="post" class="login">


        <input type="hidden" name="_csrf" value="{{csrfToken}}" />



        <input type="email" name="email" placeholder="correo  electronico o numero de telefono">

        <input type="password" name="password" placeholder="contrasena">

        <button class="b-sesion">Iniciar sesion</button>

        <a href="https://www.facebook.com/login/identify/?ctx=recover&ars=facebook_login&from_login_screen=0" id="cinc">Olvidaste tu contrasena?</a>

        <a href="/register" class="new-account">Crear cuenta nueva</a>


    </form>

    <h6><a href=""> crea una página</a> para un famoso, una marca o una empresa.</h6>
</div>
</section>   




<footer>

                {{> footer}}


</footer>

    
</div>




</body>
</html>