<div class="perfil">

<div class="foto">


<img src={{this.fotoUp}} alt="" name="fotoUp" class="photo">

{{!-- <img src={{this.image }} alt="photo"> --}}


</div>


             <input type="file"> <plaintext> Subir foto</plaintext> />

<p class="perfilP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate amet, molestias accusamus veritatis architecto, iste laboriosam optio consequatur, odit reprehenderit inventore dolore nulla. Nulla perferendis quasi qui reprehenderit tempora? </p>




</div>