

<div class="block">             
         <button  ><a class="btn btn-danger" href="logout">Logout</a></button>
</div>


<div class="perfil">


    <h2>{{user.name}}</h2>
    <p>edita aqui tu perfil</p>


<div class="foto">

    {{#if photo}}

    <img src="/assets/{{photo}}" alt="viejo"  class="photo">

    {{else}}

    <img src="/assets/camara.jpg" alt="viejo"  class="photo">

{{/if}}




<img src="/assets/camara.jpg" alt="viejo" name="photo" class="photo">

</div>

<form action="perfil?_csrf={{csrfToken}}"   method="post" enctype="multipart/form-data">

             <input type="file" name="upPhoto"> 
             

             <input type="submit" class="btn" value="Cambiar imagen de perfil">

</form>



</div>

