<div class="perfil">

<div class="foto">


<img src={{this.photo}} alt="viejo" name="photo" class="photo">

{{!-- <img src={{this.image }} alt="photo"> --}}

{{!-- ../public/assets/viejo.jpg --}}
</div>

<form action="perfil"   method="post" >
             <input type="text" name="upPhoto"/> <h2> Subir foto</h2> 

             <input type="submit" class="btn btn-primary">



</form>
<p class="perfilP">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cupiditate amet, 
    molestias accusamus veritatis architecto, iste laboriosam optio consequatur, odit reprehenderit inventore dolore nulla. 
    Nulla perferendis quasi qui reprehenderit tempora? </p>


                  <button  ><a class="btn btn-danger" href="logout">Logout</a></button>




</div>