



.block{


    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    padding: 13px;
    
}

.block button{

    width: 5%;
    background-color: red;
    border-radius: 17px;
}

.block a{


    color: white;
    width: 100%;


}


.perfil{

    display: flex;
    width: 30%;
    height:25em;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
    gap: 15px;
    
}

.foto{


    width: 45%;
    background-color: white;
    height: 20em;
    border-radius: 50%;
    overflow: hidden;

}


.photo{


    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;




}

.photo img{

    width: 20vw;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;


}


.perfil h2{

    text-align: center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.perfil p{


    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;



}



.subirF{


    background-color: black;
    color: white;
}

.perfilP{


    width: 30%;
    font-size: 40px;
    text-align: justify;
    margin-top: 40px;
    font-size: 17px;
}

.perfil form{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.perfil input[type="file"]{

    width: 80%;
}

.btn{

    background-color: rgb(59, 59, 59);
    text-align: center;
    color: white;
    cursor: pointer;

    width: 50%;
}




                                    /* footer */
footer{

    width: 100%;
    display: flex;
    justify-content:space-around;
    text-align: justify;
    margin-top: 24px;
    background-color: #ffffff;
    height: 12em;
}

.idiomas{


    width: 86%;
    font-size: 14px;
    color: gray;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc ;

    
}

.navegador{


    display: flex;
    width: 67%;
    flex-direction: column;
}

.resto{


    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    margin-top: 10px;
    font-size: 14px;


    
    



}


footer a{

    display: flex;
   font-size: 15px;
    max-width: 23%;
    color: gray;
    text-align: justify;

    
}

.h5{


    width: 30%;
    color: gray;
    border-bottom: none;
text-align: start;
margin-top: 14px;
}

footer button{

    width: 3.5%;
    font-size: 16px;
    margin-left: 5px;
}